*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --primary-color : #1c4163;
    --secondary-color : #ffffff;
    --detail : rgb(1, 195, 142);
    --hover_animation : rgb(1, 195, 142);
    --back : url(images/Bg1.png);
    --transbg:rgba(255, 255, 255, 0.075);
}

.light-home{
    --primary-color : #ffffff;
    --secondary-color : #1b4063;
    --detail : rgb(1, 195, 142);
    --hover_animation : #1b4063;
    --back : url(images/Bg2.png);  
    --transbg:rgba(28, 65, 99, 0.075); 
}

.frame{
    width: 100%;
    min-height: 100vh;
    background-image: var(--back);
    background-position: center;
    background-size: cover;
    padding: 10px 5%;
    overflow: hidden;
    position: absolute;

}

nav{
    width: 100%;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 140px;

}
.logo:hover{
    width: 144px;
}
nav ul{
    position: absolute;
    right: 32%;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 15px;
}

nav ul li a{
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: 500;
}

nav ul li a:hover{
    font-size: 18px;
    color: var(--hover_animation);
}

.signup{
    text-decoration: none;
    color: var(--secondary-color);
    margin-right: 15px;
    font-weight: 500;

}
.signup:hover{
    font-size: 18px;
    color: var(--hover_animation);
}

.btn{
    display: inline-block;
    text-decoration: none;
    color: var(--secondary-color);
    padding: 14px 40px;
    color: #ffffff;
    font-weight: 600;
    background-image: linear-gradient(45deg, rgb(0, 255, 187), rgb(0, 181, 133));
    font-size: 14px;
    border-radius: 30px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.btn:hover{
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    /* background-image: linear-gradient(45deg, rgb(244, 37, 1), rgb(184, 1, 1)); */
}

#icono{
    width: 25px;
    position: absolute;
    top: 3.7% ;
    margin-left: 15px;
}

#icono:hover{
    width: 27px;
    top: 3.7%;
}

.cont{
    display: flex;
    min-height: 100vh;
    border: 5px solid var(--detail);
    margin: 20px 20px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: var(--transbg);


} 

.leftside{
    display: flex;
    flex-direction: column;
    /* background-color: rgb(6, 212, 248); */
    min-height: 100vh; 
    width: 49.5%;
    margin: 5px 5px;
    padding-top: 10px;
}

.headtext{
    /* display: flex; */
    /* background-color: blue; */
    text-align: center;
    color: var(--detail);
    height: 60px;
    width: 100%;
    padding: 5px;
    margin: 5px;
    flex-direction: row;
}

.leftside-bigdiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* background-color: azure; */
    width: 100%;
    height:17%;
}
.bigdiv-parts{
    /* background-color: rgb(252, 10, 10); */
    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 200px;
}


.bigtext{
    color:var(--secondary-color);
    font-size: 100px;
}

.smalltext{
    color:var(--detail);
    font-size: 30px;
    transform: translateY(20px);
}

.bigdiv-parts2{
    /* background-color: blueviolet; */
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 200px;
}
.serialtext{
    color:var(--secondary-color);
    font-size: 20px;
    transform: translateY(10px);
}

.bigtext2{
    color:var(--secondary-color);
    font-size: 100px;
    transform: translateY(-15px);
}

.leftside-buttondiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding-top: 15px;
    padding-bottom: 25px;
    padding-right: 110px;
    padding-left: 70px;
}


.type2{
    font-size: 25px;
    color: var(--secondary-color);
    padding: 0px 30px;
    /* background-color: black;   */
}

#activestatus{
    color: var(--detail);
}

#inactivestatus{
    color: white;
    background-image: linear-gradient(45deg, rgb(244, 37, 1), rgb(184, 1, 1));;
    border-radius: 30px;
    padding: 5px 20px;
    border: 3px solid white;
}


.leftdoc{
    padding: 30px 15px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 200px;
    /* background-color: chocolate; */
    margin-top: 10px;
    justify-content: center;
    flex-direction: column;
}

.leftdoc-row{
    display: flex;
    align-items: center;
    width: 100%;
    height: 33.33%;
    /* background-color: rgb(30, 210, 117); */
    justify-content: center;
    flex-direction: row;

}


.leftdoc-lebel{
    display: flex;
    align-items: center;
    width: 49.5%;
    height: 100%;
    /* background-color: rgb(183, 210, 30); */
    justify-content: right;
    padding-right: 4px;
}


.leftdoc-bar{
    display: flex;
    align-items: center;
    width: 2px;
    height: 100%;
    background-color: var(--detail);
    justify-content: center;

}


.leftdoc-details{
    display: flex;
    align-items: center;
    width: 49.5%;
    height: 100%;
    /* background-color: rgb(39, 30, 210); */
    justify-content: left;
    transform: translateX(6px);
}

.normtext{
    font-size: 16.5px;
    color: var(--secondary-color);
}


.normtext-label{
    font-size: 16.5px;
    color: var(--secondary-color);
}


.warning{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 100%;
    transform: translateY(-15px);
}

.warntext{
    font-size: 15px;
    color: coral;
}


.middiv{
    height: 90vh;
    display: flex;
    background-color: var(--detail);
    width: 2px;
    transform: translateY(60px);
}


.rightside{
    display: flex;
    flex-direction: column;
    /* background-color: rgb(6, 212, 248); */
    min-height: 100vh; 
    width: 49.5%;
    margin: 5px 5px;
    padding-top: 10px;

}

#profilepic{
    display: flex;
    transform: translateY(30px);
    height: 90%;
}

#right{
    margin-top: 87px;
    height: 400px;
}


